Parabéns por ter feito o cadastro no nosso sistema.

Para continuar a validação clique no link abaixo.

<a href="{{ url('validar_chave_usuario',{'token':chave.getChave()}) }}">
     {{url('validar_chave_usuario',{'token':chave.getChave()}) }}
</a>