<p>você está tentando recuperar a sua senha.</p>
<p>Informe seu e-mail no campo abaixo para que possamos enviar o procedimento para recuperar a sua senha.</p>


<form method="post" action="{{ path('recuperar_senha_usuario') }}">
E-mail: <input type="text" name="email" size="30" /> <input type="submit" value="Enviar" />
</form>
