<h1>Parabéns!!!</h1>
<p> Você agora faz parte de uma rede de programadores PHP que buscam mais conhecimento.</p>
<p>Para finalizar o seu cadastro, foi enviado um e-mail com uma chave de acesso e lá há instruções
de como proceder para habilitar o seu login e poder baixar todas as versões da revista PHPReview.</p>

<quoite>
  A PHP Review é a única revista de PHP, gratuita, em atividade no Brasil. 
</quote>